{% extends 'base.html' %}

{% block title %}CSV変換 | Jageocoder{% endblock %}

{% block content %}
<h1>CSV変換</h1>
  <form id="form0" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="mb-3">
          <div><label for="head" class="form-label">1行目の処理</label></div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="head" id="head1" value="1"
            {% if args['head'] == '1' %}checked="checked"{% endif %}>
            <label class="form-check-label" for="head1">見出し行とみなす</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="head" id="head2" value="0"
            {% if args['head'] != '1' %}checked="checked"{% endif %}>
            <label class="form-check-label" for="head2">データ行とみなす</label>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="mb-3">
          <label for="cols" class="form-label">住所を含むカラム番号・列名
          <span class="note">*</span></label>
          <input class="form-control" id="cols" name="cols"
          value="{{ args['cols'] }}" aria-describedby="colHelp"/>
          <div id="colHelp" class="form-text">
            先頭カラムを1とします。複数カラムに分かれている場合はカラム番号・列名をカンマで区切ってください。
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="mb-3">
          <label for="area" class="form-label">対象地域</label>
          <input class="form-control" id="area" name="area"
          value="{{ args['area'] }}" aria-describedby="areaHelp"/>
          <div id="areaHelp" class="form-text">
            検索対象とする都道府県名・市区町村名を指定できます。
            複数指定する場合はカンマで区切ってください。
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionOption">
      <div class="accordion-item">
        <div class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            オプション設定
          </button>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOption">
          <div class="accordion-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                  <label for="ienc" class="form-label">入力文字エンコーディング</label>
                  <select class="form-select" id="ienc" name="ienc">
                    <option {% if args['ienc']=='auto' %}selected="selected"{% endif %} value="auto">自動判定</option>
                    <option {% if args['ienc']=='utf_8' %}selected="selected"{% endif %} value="utf_8">UTF-8(BOM無し)</option>
                    <option {% if args['ienc']=='utf_8_sig' %}selected="selected"{% endif %} value="utf_8_sig">UTF-8(BOM有り)</option>
                    <option {% if args['ienc']=='cp932' %}selected="selected"{% endif %} value="cp932">シフトJIS(CP932)</option>
                    <option {% if args['ienc']=='euc_jp' %}selected="selected"{% endif %} value="euc_jp">日本語EUC</option>
                    <option {% if args['ienc']=='utf_16' %}selected="selected"{% endif %} value="utf_16">UTF-16</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                  <label for="oenc" class="form-label">出力文字エンコーディング</label>
                  <select class="form-select" id="oenc" name="oenc">
                    <option {% if args['oenc']=='auto' %}selected="selected"{% endif %} value="auto">入力と同じ</option>
                    <option {% if args['oenc']=='utf_8' %}selected="selected"{% endif %} value="utf_8">UTF-8(BOM無し)</option>
                    <option {% if args['oenc']=='utf_8_sig' %}selected="selected"{% endif %} value="utf_8_sig">UTF-8(BOM有り)</option>
                    <option {% if args['oenc']=='cp932' %}selected="selected"{% endif %} value="cp932">シフトJIS(CP932)</option>
                    <option {% if args['oenc']=='euc_jp' %}selected="selected"{% endif %} value="euc_jp">拡張UNIXコード(EUC)</option>
                    <option {% if args['oenc']=='utf_16' %}selected="selected"{% endif %} value="utf_16">UTF-16</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label for="ofname" class="form-label">出力ファイル名</label>
                  <select class="form-select" id="ofname" name="ofname">
                    <option {% if args['ofname']=='add_dt' %}selected="selected"{% endif %} value="add_dt">入力ファイル名＋日時(_YYYYMMDD_hhmmss).csv</option>
                    <option {% if args['ofname']=='' %}selected="selected"{% endif %}value="">入力ファイル名のまま</option>
                    <option {% if args['ofname']=='dt' %}selected="selected"{% endif %}value="dt">日時(YYYYMMDD_hhmmss).csv</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="option_switches" class="mb-3">
                  <div>
                    <label for="outputcolumns" class="form-label">出力項目</label>
                    <div class="form-check form-switch form-check-inline">
                      <input class="form-check-input" type="checkbox" id="switch_all">
                      <label class="form-check-label" for="all">一括セット</label>
                    </div>
                  </div>
                  {% for col in columns: %}
                  <div class="form-check form-switch form-check-inline">
                    {% if col[0] in args %}
                      <input class="form-check-input" type="checkbox" id="{{ col[0] }}" name="{{ col[0] }}" checked="checked">
                    {% else %}
                      <input class="form-check-input" type="checkbox" id="{{ col[0] }}" name="{{ col[0] }}">
                    {% endif %}
                    <label class="form-check-label" for="{{ col[0] }}">{{ col[1][0] }}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="mb-3">
                  <div><label for="nc" class="form-label">座標情報を持たない辞書データの用否</label></div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="nc" id="nc1" value="1"
                    {% if args['nc']=='1' %}checked="checked"{% endif %}>
                    <label class="form-check-label" for="nc1">利用しない（座標取得用）</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="nc" id="nc2" value="0"
                    {% if args['nc']!='1' %}checked="checked"{% endif %}>
                    <label class="form-check-label" for="nc2">利用する（住所正規化用）</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- ストリーミング処理を行うため file は必ずフォームの最後に置く -->
      <div id="dfile" class="col-12">
        <div class="mb-3">
          <label for="file" class="form-label">変換する入力ファイル
          <span class="note">*</span></label>
          <input type="file" class="form-control" id="file" name="file"
          accept=".csv,.CSV" value={{ args['file'] }}>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary col-3">送信</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block script %}
<script>
  let switch_all = document.getElementById('switch_all');
  switch_all.checked = false;
  switch_all.addEventListener('click', function() {
    let is_checked = switch_all.checked;
    for (element of document.querySelectorAll(
        "#option_switches input[type=checkbox]")
    ) {
      element.checked = is_checked;
    }
  });
</script>
{% endblock %}
