{% extends 'base.html' %}

{% block title %}ノード情報 | Jageocoder{% endblock %}

{% block content %}

<h1>住所ノード情報</h1>
<div id="map"></div>
<div class="row">
  <div class="col" id="address">
    「<a href="{{ url_for('show_node', id=node.id) }}">{{ node.get_fullname(' ') }}</a>」付近
  </div>
</div>
<h2>データベースに格納されている値</h2>
<ul id="attributes">
  <li>住所: 
    {% if node.get_postcode() %}
      <a href="{{ url_for('search_postcode', code=node.get_postcode()) }}">
      〒{{ node.get_postcode() }}</a>&nbsp;
    {% endif %}
    {% for ns in node_by_level %}
      {% if ns %}
        {% for n in ns %}
          <a href="{{ url_for('show_node', id=n.id) }}">{{ n.get_name() }}</a>
        {% endfor %}
      {% endif %}
    {% endfor %}
    (データベース内ID: <a href="{{ url_for('show_node', id=node.id) }}">{{ node.id }}</a>)
  </li>
  <li>座標: <span class="fw-bold">{{ node.y }} N</span>,
    <span class="fw-bold">{{ node.x }} E</span>
    {% if LAN_MODE != '1' %}
      <a href="{{ node.get_gsimap_link() }}" target="_gsimap">地理院地図で開く</a>
      <a href="{{ node.get_googlemap_link() }}" target="_googlemap">Google Map で開く</a>
    {% endif %}
  </li>
  <li>住所レベル: <span class="fw-bold">{{ node.level }}</span> ({{ node.levelname }})</li>
  <li>データセット: <span class="fw-bold">{{ node.priority }}</span>
  {% if LAN_MODE != '1' %}
    (<a href="{{ node.dataset.url }}" target="_blank">{{ node.dataset.title }}</a>)
  {% else %}
    ({{ node.dataset.title }})
  {% endif %}
  </li>
  <li>追加情報: {% if node.note|length == 0 %}(なし){% else %}{{ node.note }}{% endif %}</li>
</ul>

<h2>各種コード等</h2>
<ul id="codes">
  <li>都道府県: {{ node.get_pref_name() }}
    (都道府県コード: {{ node.get_pref_jiscode() }},
    都道府県団体コード: {{ node.get_pref_local_authority_code() }})
  </li>
  <li>市区町村: {{ node.get_city_name() }}
    (市区町村コード: {{ node.get_city_jiscode() }},
    市区町村団体コード: {{ node.get_city_local_authority_code() }})
  </li>
  <li>アドレス・ベース・レジストリ 町字ID:
    <a href="{{ url_for('search_aza_id', aza_id=node.get_aza_id()) }}">
      {{ node.get_aza_id() }}</a>
  </li>
  <li>アドレス・ベース・レジストリ記載の表記:<br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>住所レベル</th>
          <th>漢字表記</th>
          <th>かな表記</th>
          <th>英語表記</th>
        </tr>
      </thead>
      <tbody>
        {% for e in node.get_aza_names(tree, levelname=True) %}
        <tr>
          <td>{{ e[0] }}</td>
          <td>{{ e[1] }}</td>
          <td>{{ e[2] }}</td>
          <td>{{ e[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </li>
</ul>

<h2>下位住所ノード</h2>
<ul id="relations">
  <li>
    {% if node.children|length > 0 %}
      ()内は座標無し<br />
      {% for child in node.children %}
        <a href="{{ url_for('show_node', id=child.id) }}">
        {% if child.has_valid_coordinate_values() %}
          {{ child.name }}
        {% else %}
          ({{ child.name }})
        {% endif %}
        </a>&nbsp;
      {% endfor %}
    {% else %}
      無し
    {% endif %}
  </li>
</ul>
{% endblock %}

{% block script %}
<script>
  let mapdiv = document.getElementById('map');
  mapdiv.style.display = 'none';
  {% if LAN_MODE != '1' and node.y < 90.0 %}
  mapdiv.style.display = 'block';
  let jsonLayers = [];
  let map = new maplibregl.Map({
    container: 'map',
    /*  Use GSI Vector tile
    style:
      // 'https://gsi-cyberjapan.github.io/gsivectortile-mapbox-gl-js/std.json',
      // 'https://gsi-cyberjapan.github.io/optimal_bvmap/style/std.json',
      // '{{ url_for("static", filename="styles/gsi_optimal_std.json") }}',
    */
    /*  Use GSI Raster tile */
    style: {
      version: 8,
      sources: {
        t_pale: {
          type: 'raster',
          tiles: ['https://cyberjapandata.gsi.go.jp/xyz/pale/{z}/{x}/{y}.png'],
          tileSize: 256,
          attribution:
            '<a href="http://www.gsi.go.jp/kikakuchousei/kikakuchousei40182.html" target="_blank">地理院タイル</a>',
          },
        },
      layers: [
        {
          id: 't_pale',
          type: 'raster',
          source: 't_pale',
          minzoom: 0,
          maxzoom: 18,
        },
      ],
    },
    /* */
    center: [{{ node.x }}, {{ node.y }} ],
  zoom: 8 + {{ node.level }},
    minZoom: 3,
    maxZoom: 17
  });

  let marker = new maplibregl.Marker({
    draggable: true
  }).setLngLat(
    [{{ node.x }}, {{ node.y }}]
  ).addTo(map);

  function onDragEnd() {
    let lnglat = marker.getLngLat();
    let zoomlevel = map.getZoom();
    reverseGeocoding(lnglat.lat, lnglat.lng, zoomlevel);
  }

  function reverseGeocoding(lat, lng, zoom) {
    let level = parseInt(zoom, 10) - 7;
    if (level < 1) {
      level = 1;
    }
    let formData = new FormData();
    formData.append("lat", lat);
    formData.append("lon", lng);
    formData.append("level", level);

    let response = fetch('{{ url_for('reverse_geocode') }}', {
      method: 'POST',
      body: formData
    }).then(res => res.json()
    ).then(data => {
      let div = document.getElementById('address');
      let showNodeLink = "{{ url_for('show_node', id='0') }}";
      if (data.length > 0) {
        let nearest = data[0].candidate;
        div.innerHTML = '「<a href="' + showNodeLink.replace("0", nearest.id)
        + '">' + `${data[0].candidate.fullname.join(' ')}`
        + '</a>」付近';
      }

      if (jsonLayers.length > 0) {
        for (const layer of jsonLayers) {
          map.off('click', layer.id);
          map.removeLayer(layer.id);
        }
        map.removeSource('triangle');
        jsonLayers = [];
      }

      let points = [];
      let nodes = {};
      for (const i in data) {
        const vertice = data[i];
        const node = vertice['candidate'];
        nodes[node.id] = node.fullname;
        let merged = false;
        for (let j = 0; j < i; j++) {
          if (points[j].geometry.coordinates[0] == node.x
              && points[j].geometry.coordinates[1] == node.y) {
            points[j].properties.names += ', ' + node.fullname.join('');
            merged = true;
            break;
          }
        }
        if (!merged) {
          points.push({
            'type': 'Feature',
            'geometry': {
              'type': 'Point',
              'coordinates': [node.x, node.y]
            },
            'properties': {
              'id': node.id,
              'names': node.fullname.join('')
            }
          });
        }
      }
      source = {
        'type': 'geojson',
        'data': {
          'type': 'FeatureCollection',
          'features': points
        }
      };
      map.addSource('triangle', source);

      jsonLayers.push({
        'id': 'nodes',
        'source': 'triangle',
        'type': 'circle',
        'paint': {
          'circle-stroke-color': '#FFFFFF',
          'circle-stroke-width': 2,
          'circle-stroke-opacity': 1,
          'circle-radius': 8,
          'circle-color': '#1e50a2',
          'circle-opacity': 0.5
        },
        'filter': ['==', '$type', 'Point']
      });
      for (const layer of jsonLayers) {
        map.addLayer(layer);
        map.on('click', layer.id, function (e) {
          const coordinates = e.features[0].geometry.coordinates.slice();
          let names = e.features[0].properties.names.toString();
          new maplibregl.Popup()
          .setLngLat(coordinates)
          .setHTML(names)
          .addTo(map);
        });
        map.on('mouseenter', layer.id, function () {
          map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', layer.id, function () {
          map.getCanvas().style.cursor = '';
        });
      }
    });
  }

  marker.on('dragend', onDragEnd);
  {% endif %}
</script>
{% endblock %}