# サイトカスタマイズ用環境設定ファイル
# この env.dist を .env にコピーして、サイトに合わせて修正してください。

# サイト上部に表示するメッセージ
# SITE_MESSAGE=このメッセージが表示されます。HTMLも有効です。

# WebAPI の説明などに利用するサイト URL (最後の '/' は書かないで下さい)
# SITE_ROOT_URL=http://myserver:port

# LANモード（1にするとインターネットに問い合わせに行かない）
# LAN_MODE=1
