## サイトカスタマイズ用環境設定ファイル
## この env.dist を .env にコピーして、サイトに合わせて修正してください。

## サイト上部に表示するメッセージ
# SITE_MESSAGE=このメッセージが表示されます。HTMLも有効です。

## WebAPI の説明などに利用するサイト URL (最後の '/' は書かないで下さい)
# SITE_ROOT_URL=http://myserver:port

## WebAPI の説明で利用する住所ジオコーディングAPIのリクエストパラメータ
# GEOCODING_REQUEST_PARAM_ADDR=西新宿2丁目8-1
# GEOCODING_REQUEST_PARAM_AREA=東京都
# GEOCODING_REQUEST_PARAM_OPTS=all

## WebAPI の説明で利用するリバース住所ジオコーディングAPIのリクエストパラメータ
# RGEOCODING_REQUEST_PARAM_LAT=35.689472
# RGEOCODING_REQUEST_PARAM_LON=139.69175
# RGEOCODING_REQUEST_PARAM_LEVEL=7
# RGEOCODING_REQUEST_PARAM_OPTS=all

## LANモード（1にするとインターネットに問い合わせに行かない）
# LAN_MODE=1

## リバースジオコーディング用 R-Tree を構築しない
# BUILD_RTREE=0
